@font-face 
{
    font-family: "entypo";
    src: url("../fonts/entypo.eot");
    src: url("../fonts/entypo?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg");
    font-weight: normal;
    font-style: normal; 
}
a, a:hover{
    text-decoration: none;
    color: white;
    cursor:pointer;
}
h3
{
    display:  inline !important;
}
body
{
    text-transform: none !important;
}
.versiontext
{
    font-size: 0.8785vw;
    font-weight: bold;
    margin-left: 0.2196vw;
    color: #000;
}
.logoholder
{
    border-bottom: 0.2196vw solid #000;
}
.logoimg
{
    position: absolute;
    left: 0.366vw;
    top: -6px;
}
.logotext
{
    margin-left: 3.66vw !important;
    text-transform: none;
    font-size: 1.464vw;
    color: white;
}
.mainviewport
{
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    background-color: #FFF;
    min-width: 750px;

}
.maskedcontainer
{
    position: absolute;
    left: 0px;
    right : 0px;
    top:0px;
    bottom: 0px;
    background-color: #FFF;
    overflow: hidden;

}
.sidebar
{
    position: fixed;
    width : 230px;
    left :0px;
    top: 0px;
    bottom : 0px;
    text-transform: none !important;
    padding :0 !important;
    z-index: 200;
}
.sidebarmenuitem
{
    text-transform: none !important;
    opacity: 1;
    border-bottom: 0.0732vw solid #34495E;



}
.sidebarmenuitem:hover
{
    text-transform: none !important;
    opacity : 0.6;
    -webkit-transition: opacity 0.5s ease;
    border-bottom: 0.0732vw solid #34495E;	
}
.menuheader
{
    margin-left: 1.464vw;
    padding-top: 1.0981vw;
}
.menuicon
{
    position: absolute;
    right : 0.732vw;
    top : 1.464vw;
}
.sidebarfooter
{
    /* position: absolute; */
    /* bottom:0px; */
    /* left:0px; */
    /* width: 229px; */
    /* height: 7.321vw; */
    /* background-color: #2C3E50; */
}
.mainfooter
{
    position: fixed;
    width : 180px;
    left :230px;
    top: 0px;
    bottom : 0px;
    /* text-transform: none !important; */
    /* padding :0 !important; */
    z-index: 10;
}
.previewbtn
{
    display: inline-block;
    /* margin-left: 0.732vw; */
    /* margin-top: 2.1962vw; */
}
.maingreyarea
{
    position: absolute;
    left: 405px;
    top:0px;
    bottom: 0px;
    right:0px;
    overflow: hidden;
}
.orchgreyarea
{
    position: absolute;
    left: 410px;
    top:0px;
    bottom: 0px;
    right:0px;
    overflow: hidden;
}
.slideviewportcontainer
{
    position: relative;
    z-index: 1;
}
.slideviewport
{
    position: absolute;
    left: 0.366vw;
    top: 0.732vw;
    width: 930px;
    height : 530px;
    background-color: #FFF;
    border : 0.0732vw dashed #ECF0F1;
    text-transform: none;
    /*-webkit-user-select: none;*/
}
.fullslider-slide-container
{
    position: relative;
    width: 100%;
    height: 100%

}
.fullslider-slide
{
    position: absolute;
    left: 0px;
    top:0px;
    bottom: 0px;
    right: 0px;
}
.mainheaderbar
{
    width:100%;
    height: 2.928vw;
    margin-left: 230px;

}
.settingsbox
{
    position: absolute;
    left : -400px;
    top:0px;
    bottom:0px;
    width:500px;
    border-right : 0.0732vw solid #2980B9;
    text-transform: none !important;
    background: rgba(74,89,108,1);
    border-left: 0.0732vw solid #2980B9;
    z-index: 10;

}
.settingsboxheader
{
    color: white;
    text-transform: none !important;
}
#newpreso
{
    margin-left: 2.1962vw;
    margin-top: 0.732vw;
    margin-bottom: 0.732vw;
    margin-right: 0.732vw;

}
#presotitledescription
{
    width: 29.2826vw;
    height : 14,641vw;
}
.toolbarblockboth
{
    border-right: 0.0732vw solid #2980B9;
    border-left: 0.0732vw solid #2980B9;
}
.toolbarblockleft
{
    border-left: 0.0732vw solid #2980B9;
}
.dockedtoolbar
{
    display: inline-block;
    z-index : 201;
    margin-top: -5px;
}
.slidethumbholdercontainer
{
    position: relative;
    width: 100%;
    height:100%;
    z-index: 9;
    overflow: auto;
}
.slidethumbholder
{
    position: absolute;
    left: 0px;
    top: 4.392vw;
    bottom: 0px;
    right:0px;
    overflow-x: hidden;
}
.slidedisplay
{
    font-size: 1.025vw;
    margin-top: 2.1962vw;
    margin-left: 2.928vw;
    color:#666;
}
#addslidebtn
{
    /* position: fixed; */
    /* left: 240px; */
    /* top:5px; */
}
.viewtogglebtn
{
    /*display: inline-block;
    margin-left: 0.732vw;
    margin-top: 0.366vw;
    text-transform: none;*/
}
.slidethumb
{
    display: block;
    width: 160px;
    height : 8.053vw;
    margin-top: 0.732vw;
    margin-left: 0.732vw;
    background-color: #ECF0F1;
    position: relative;
}
.orchthumb
{
    display: block;
    width: 160px;
    height : 8.053vw;
    border : 0.0732vw solid #BDC3C7 ;
    margin-top: 0.732vw;
    margin-left: 0.732vw;
    background-color: #ECF0F1;
    position: absolute;
    text-transform: none;

}
.showthumb
{
    -webkit-transition: opacity 0.5s ease;
    opacity : 1;
}
.slidethumb .deletebtn
{
    display: block;
    -webkit-transition: opacity 0.5s ease;
    opacity : 0;
}
.slidethumb:hover .deletebtn
{
    display: block;
    -webkit-transition: opacity 0.5s ease;
    opacity: 1;
}
.grabbing{
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
.movecursor
{
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    /* font-size: 12pt !important; */
}
.selectioncursor
{
    cursor : text;
}
.deletebtn
{
    position: absolute;
    bottom: 3.514vw;
    right : 4.392vw;
    display: none;
}
.elementhover
{
    color : #999;
}
.elementselected
{
    outline: 0.1464vw solid #3498DB !important;
}

.elementediting{
    outline: 0.1464vw dotted #3498DB !important;
}

.transformdiv
{
    position: absolute;
    display: none;
    width: 250px;
    height : 14,641vw;
}
.thumbnailholder
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
.knob
{
    display: inline-block;
}
.knobholder
{
    position: absolute;
    left:490px;
    height : 3.66vw;
    top: 1.464vw;
    color:black;
    background-color: #3498DB;
    border-radius: 0.366vw;
}
.transformlabel
{
    display:inline-block;
    font-size:150%;
    color : #999;
    padding-right: 0.732vw;
    padding-left: 0.732vw;

}
.transformcontrolsholder
{
    position: absolute;
    left: 0.732vw;
    top: 0px;
    width : 800px;
    height : 3.66vw;
    background-color: #ECF0F1;
    z-index: 20;
    padding-left: 1.464vw;
    text-transform: none;
}
#skewxlabel
{
    left:0px;
    top: 0.732vw;
    width : 14,641vw;
    font-weight: bold;
    text-transform: none;
    color: white;
    font-size: 1.464vw;
    position: absolute;
}
#skewylabel
{
    left:140px;
    top: 0.732vw;
    width : 14,641vw;
    font-weight: bold;
    text-transform: none;
    color: white;
    font-size: 1.171vw;
    position: absolute;
}
.dropdownlist
{
    width: 7.321vw !important;
    text-transform: none;
}
.dropdownpopup
{
    width : 7.321vw;
}
.dk_toggle_custom
{
    border-radius: 0px;
    padding: 0.8053vw 0.366vw 0.5424vw 0.952vw !important;
    background-color: #3498DB !important;
}
.dk_container_custom
{
    vertical-align: top !important;
}
.select-icon-custom
{
    visibility: hidden;
}
.pulldownmenu
{
    text-transform: none;
}
.orchestrationviewport
{
    background-color: #FFF;
    width : 930px;
    height: 570px;
    border : 0.0732vw dashed #CCC;
    margin-top: 2.928vw;
    overflow: scroll;
    position: relative;
}
.image-input
{
    width : 29.2825vw;
}
.thumelement
{
    position: absolute !important;
}
.ranges
{
    vertical-align: top;
    margin-top: 1.025vw;
    width : 7.321vw;
}
.currentselection
{
    border-bottom: 0.2928vw solid #1ABC9C;
}
.stylebg
{
    background-color: #FFCC00 !important;
}
.fblogin
{
    position: absolute;
    right : 14,641vw;
    top: 1.464vw;
}
.descriptioninput
{
    width: 29.2826vw;
    height : 250px;
}
.modalwindow
{
    text-transform: none;
}
.savedpresos
{
    width: 100%;
    height : 8.053vw;
    border-bottom:  0.0732vw dotted #DDD;
}
.presothumb
{
    width: 14.64vw;
    height : 7.321vw;
    font-family: "entypo";
    display: inline-block;
    /*border : 0.0732vw solid #CCC;*/
    vertical-align: top;
    position: relative;
}
.presothumb .deletepresobtn{
    position:absolute;
    right: 4.392vw;
    top: 0.732vw;
}
.presothumbcontent
{
    display: inline-block;
    width: 56%;
    height : 7.321vw;
    background-color: #FFF;
    vertical-align: top;
    padding-left: 0.732vw;
}

.openpresobtn{
    position: absolute;
    right: 0.732vw;
    top: 0.732vw;
}

.placeholder
{
    display : none;
}
.presentationmeta
{
    width : 932px;
    height: 2.1962vw;
    margin-left : 0.366vw;
    margin-bottom: -10px;
    background-color: #BDC3C7;
    position: relative;
}
.idle
{
    display: none;
}
.active
{
    display: inline-block;
}
.impressionistviewport
{
    width: 100%;
    height: 100%;
    position: relative;
}
.preloaderviewport
{
    position: absolute;
    left:0px;
    top: 0px;
    bottom: 0px;
    right:0px;
    background-color: #3498DB;
    z-index : 4000;
}
#loadprogressmeter
{
    margin-left: -20px;
    margin-top: -4px;
}
.preloadmessage
{
    margin-top: 20%;
    margin-left: 40%;
    width: 390px;
    position:relative;
}
.loadingtext
{
    color:black;
    font-size: 80%;
    font-weight: bold;
}
.preloadertext
{
    margin-left: 3.66vw !important;
    margin-top: -50px;
    text-transform: none;
    font-size: 1.464vw;
    color: white;
}
.stylethumbnail
{
    width: 150px;
    height : 7.321vw;
    margin-right: 0.366vw;
    margin-bottom: 1.0981vw;
    margin-top: 0.732vw;
    background-color: white;
    border: 0.0732vw dotted #CCC;
    position: relative;
    display: inline-block;
}
.styleh3
{
    margin-left: 2.1962vw;
    color: black;
    cursor: pointer;
}
.stylep
{
    margin-left: 3.66vw;
    font-size : 120%;
    cursor: pointer;
}
.styleselection
{
    position: absolute;
    top:-20px;
    color: #3498DB;
    width: 97%;
    left: -1px;
    padding-left: 0.366vw;
    background-color: #DDD;
    border: 0.0732vw solid #DDD;
    cursor:pointer;
}
.headingelement
{

}
/** Landing page specific styles **/
.landingcontainer
{
    position: absolute;
    left:0px;
    right: 0px;
    top:0px;
    bottom:0px;
    background-color: #2980B9;
}
.landingcontenttext
{
    position: absolute;
    left: 7.321vw;
    top:200px;
    width: 500px;
    height:200px;
    color:white;
    text-transform: none;
    font-size: 180%
}
.landingcontentsubtext
{
    position: absolute;
    left: 7.321vw;
    top:310px;
    width: 29.2826vw;
    height:200px;
    color:white;
    text-transform: none;
    font-size: 120%
}
.landingsignincontainer
{
    position: absolute;
    left: 640px;
    top:200px;
    width: 500px;
    height:350px;
    color:white;
    text-transform: none;
    font-size: 180%;
    border-left: 0.0732vw dotted #3498DB;
    padding-left: 1.464vw;

}
.landingheader
{
    width:100%;
    height:50px;
    background-color: #3498DB;
}
