html, body {
    padding:0;
    margin:0;
    background:#CEC9B8 !important;
}

body {
    font-size:75%;
    line-height:1.5;
    /* padding:20px; */
}

h1 {

    font-weight:normal;
    color:rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

p {
    width:230px;
}

#save {
    width:300px;
    height:300px;
    padding:20px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -150px;
    border:1px dashed rgba(0,0,0,0.5);
    color:rgba(0,0,0,0.5);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}
#save a.reset {
    position:absolute;
    color:rgba(0,0,0,0.5);
    left:20px;
    bottom:20px;
    text-decoration:none;
    font-size:10px;
}
#save a.reset:hover {
    -webkit-transform: matrix(1.4172,-0.3424,0.3074,1.2345,0,0); 
    -moz-transform: matrix(1.4172,-0.3424,0.3074,1.2345,0px,0px); 
    -ms-transform: matrix(1.4172,-0.3424,0.3074,1.2345,0,0); 
    -o-transform: matrix(1.4172,-0.3424,0.3074,1.2345,0,0); 
    transform: matrix(1.4172,-0.3424,0.3074,1.2345,0,0);
}

#play {
    width:300px;
    height:10px;
    position:absolute;
    display: block;
    z-index:300;
    /*
    padding:20px;
    
    */
    /*left:50%;
    top:50%;*/
    /*margin:-150px 0 0 -150px;*/
    /*background:#ff9900;*/

    -webkit-user-select: none;

    /*-webkit-box-shadow: 0 0 0.732vw rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 0.732vw rgba(0,0,0,0.15);
    box-shadow: 0 0 0.732vw rgba(0,0,0,0.15);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    */

    -webkit-transform: translate3d(0,0,0);
}
#play span {
    position:absolute;
    font-size:1vw;
    white-space:nowrap;
    cursor:pointer;
    display: block;
    /*
    -webkit-border-radius: 0.366vw;
    -moz-border-radius: 0.366vw;
    border-radius: 0.366vw;
    */
}
#play span:hover {
    border-color:gray;
}

#play .rotate {
    right: -3.1478vw;
    cursor: n-resize;
    -webkit-transform: rotate(90deg);
}

#play .scale {
    right: -1.3177vw;
    cursor: nw-resize;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#play .skewx {
    left: calc(50% - 0.5vw);
    top: -1.95vw;
    /*bottom:-15px;*/
    cursor: w-resize;
}

#play .skewy {
    left: -2.2vw;
    cursor: n-resize;
    /*-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
}
#play .deleteicon
{
    right: -1.3177vw;
    top: -1.05vw;
}


.ui-resizable-handle {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #ffffff;
    border: 0.0732vw solid #000000;
    position: absolute;
}
.ui-resizable-nw {
    left: -0.366vw;
    top: -0.366vw;
    cursor: nw-resize;
}
.ui-resizable-ne {
    top: -0.366vw;
    right: -0.366vw;
    cursor: ne-resize;
}
.ui-resizable-sw {
    top: 5.9vw;
    left: -0.366vw;
    cursor: sw-resize;
}
.ui-resizable-se {
    top: 5.9vw;
    right:-0.366vw;
    cursor: se-resize;
}
.ui-resizable-n {
    top: -0.366vw;
    left:50%;
    cursor: n-resize;
}
.ui-resizable-s {
    top: 5.9vw;
    left: 50%;
    cursor: s-resize;
}
.ui-resizable-w {
    left:-0.366vw;
    top: calc(50% - -2.4vw);
    cursor: w-resize;
}
.ui-resizable-e {
    right:-0.366vw;
    top: 2.85vw;
    cursor: e-resize;
}

#play .move {
    top:10px;
    right:10px;
    cursor: move;
}

#output {
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    padding:20px 20px;
    border-top:1px solid gray;
    background:#fff;
    font-family: courier new;
    text-align:center;
    white-space:pre;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}