/*
	HUMANIZED MESSAGES 1.0
	idea - http://www.humanized.com/weblog/2006/09/11/monolog_boxes_and_transparent_messages
	home - http://humanmsg.googlecode.com
*/

html, body {
	height: 100%; /* Damn you IE! */
}

.humanMsg {
	letter-spacing: -0.0732vw;
	position: fixed;
	top: 9.52vw;
	left: 25%;
	width: 50%;
	color: white;
	background-color: black;
	text-align: center; 
	display: none;
	opacity: 0;
	z-index: 100000;
}

.humanMsg .round {
    border-left: solid 0.1464vw white;
	border-right: solid 0.1464vw white;
    font-size: 0.0732vw; height: 0.1464vw;
	}

.humanMsg p {
	padding: .3em;
	display: inline; 
	}

.humanMsg a {
	display: none;
	}
	
#humanMsgLog {
	font: normal 0.732vw Helvetica, Arial, Sans-Serif;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 14.64vw;
	display: none;
	z-index: 10000;
	}

#humanMsgLog p {
	position: relative;
	left: 50%;
	width: 14.64vw;
	margin: 0;
	margin-left: -7.321vw;
	padding: 0 0.732vw;
	background: #333;
	text-align: center;
	white-space: pre;
	cursor: pointer;
	}

#humanMsgLog p:hover {
	background: #222;
	}

#humanMsgLog ul {
	background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAARCAIAAACaSvE/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNqEjVEKACAIQ516Ee//5wVNCjIjaB/iY5vC3YkoIgDkVDOjQ5pqLCI3r2bLFzNzyydvM4uKqfJPKN4vyl9LO/7o3/6PhwADAIWkFPjc5eRrAAAAAElFTkSuQmCC) repeat-x;
	margin: 0;
	padding: 0;
	position: relative;
	max-height: 13.18vw;
	overflow: auto;
	display: none;
	}

#humanMsgLog ul li {
	color: #555;
	font-size: 0.8785vw;
	list-style-type: none;
	border-bottom: 0.0732vw solid #ddd;
	display: none;
	padding: 0 1.464vw;
	position: relative;
	overflow: hidden;
	white-space: pre;
	}

#humanMsgLog ul li:hover {
	background: #f2f2f2;
	}

#humanMsgLog ul li:first-child {
	margin-top: 0.0732vw;
	}
	
#humanMsgLog ul li .error {
	color: orangered;
	}

#humanMsgLog ul li .indent {
	position: absolute;
	top: 0;
	left: 7.321vw;
	margin-right: 14.64vw;
	height: inherit;
	}
