/* 
    Created on : 30-sep-2015, 16:25:51
    Author     : EduJG
*/

html{
    font-size: 1vw !important;
}

body{
    background-color: #f0f0f0 !important;
    padding: 0vw;
    color:#fff !important;
    overflow: hidden;  
    font-size: 1vw !important;
}

//Background of selection
*::-moz-selection{
    background: #BED5DA;
}

*::selection {
    background: #BED5DA;
}

p {
    width: 16.84vw;
}

#welcomemodal{
    top: 9vw !important;
}


/* Scroll bar */

/* Slides thumb scroll */
::-webkit-scrollbar{
    max-width: 8%;
    margin:7.32vw;
    padding: 7.32vw;
}
::-webkit-scrollbar-button{
    width:0.5856vw;
    height: 0.366vw;
}
::-webkit-scrollbar-track{
    background:#3c454e;
    border:thin solid #1a1f25;
    -webkit-box-shadow: inset 0 0 0.4392vw rgba(0,0,0,0.3);
    -webkit-border-radius: 0.732vw;
    border-radius: 0.732vw;
}
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(top, #87B5AC, #C1D9E0);
    -webkit-box-shadow:   inset 0 0.0732vw 0 rgba(255,255,225,.5),
        inset 0.0732vw 0 0 rgba(255,255,255,.4),
        inset 0 0.0732vw 0.1464vw rgba(255,255,255,.3);

    border:thin solid #232c34;
    border-radius: 0.732vw;
    -webkit-border-radius: 0.732vw;
}
::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, #5BC0DE, #1ABC9C);
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
    background: -webkit-linear-gradient(top, #6F9C93, #81A6B1);
}


/* Header-menu */

#header-menu{
    padding-bottom: 1vw;
    background-color: #A32C00;
    border-bottom: 0.074vw solid #767575;
    height: 4.7291vw;
}

#menu button i{
    font-size: 0.95vw
}

#addElementsPanel{
    display: inline-block;
    margin-left: 4.15vw;
}

#textDropdown{
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    background-color: #E8EBEF;
    border-left: 0.0732vw solid #4874A0;
}

#textDropdown .caret{
    margin-left: 0;
}

.sidebarfooter {
    background-color: none;
}

#view-save-btns{
    display: inline-block;
    position: absolute;
    right: 2%;
    margin: -0.0732vw auto;
}

#view-save-btns .btn{
    padding: 0.7320vw 1.61vw;
}

.previewbtn {
    margin-left: 0vw; 
    margin-top: 0vw; 
}


/* Body-editor */

#body-editor{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.palette-night {
    background-color: #34495e;
}

#deck{
    padding: 0;
    height: 100%;
}

/* Vertical-toolbar */

#vertical-toolbar{
    border-right: 0.0732vw solid #767575;
    height: 100%;
    background-color: #555;
    float: left;
    padding: 0;
}

.mainfooter {
    position: relative;
    width: initial;
    top: 0vw;
    bottom: 0vw;
    left: 0vw;
    z-index: 10;
    padding: 0.439vw 0vw;
    margin: 0;
    padding: 0 !important;
    height: 100%;
}

.slidethumbholdercontainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
    overflow: auto;
}

#addslidebtn{
    position: initial;
    left: initial;
    top: initial;
    margin: 0.375vw 2.5vw;
}


.slidethumbholder {
    position: initial;
    left: initial;
    top: initial;
    bottom: initial;
    right: initial;
    overflow-x: hidden;
    overflow-y: auto;
    height: 81%;
}

.slidethumb {
    display: block;
    width: 10.54vw;
    height: 8.05vw;
    margin-bottom: 0.732vw;
    margin-left: 0.732vw;
    background-color: #ECF0F1;
    position: relative;
    border: 0.2196vw solid #C5C5C5;
}

.currentselection{
    border: 0.2196vw solid #1ABC9C !important;
}

.deletebtn{
    bottom: 80% !important;
    right: -5% !important;
    font-size: 1vw !important;
    padding: 0.2vw 0.5vw !important;
}


/* Workspace */

#workspace{
    position: relative;
    float: left;
}

.presentationmeta {
    width: initial;
    height: 2.1962vw;
    margin-left: 0;
    margin-bottom: 0.464vw;
    position: relative;
    /* margin-top: 0.2vw; */
}

#presentationmetatitle{
    margin: 0 1vw;
    text-transform: none;
    font-size: 130%;
    color: white;
    width: 100%;
    text-align: center;
}

#editpresonamebtn{
    position: absolute;
    right: 0.366vw;
    top: 0.2196vw;
    padding: 0vw 2.1vw;
}

.slideviewport{
    top: 0vw !important;
    left: 0vw !important;
    padding: 0vw !important;
    height: 38.8vw !important;
}

.slidelement div,.slidelement span, .slidelement ul,
.slidelement li, .slidelement ol, .slidelement b,
.slidelement u, .slidelement p, .slidelement i,
.slidelement a, .slidelement font {
    font-size: inherit !important;
}

.slidelement ul, .slidelement ol{
    list-style-position: inside;
    padding-left:0;
}

#markdown-editor{
    border-left: 0.0732vw solid #767575;
    height: 100%;
    padding: 0.5%;
    z-index: 2;
    display: none;
}

#markdown-space{
    width: 100%;
    height: 85%;
}

#markdown-space textArea{
    width: 100%;
    height: 100%;
    color: #000;
}


/* Modals */

.modal{
    left: 50% !important;
    top: 10% !important;
    bottom: inherit !important;
    color: #34495e !important;
}


#configmodal{
    width: 61vw;
    margin-left: -30vw;
    top: 8% !important;
}
#configmodal li{
    list-style: none;
}
#configmodal .modal-body{
    max-height: 30vw;
    height: 30vw;
}

#configTab{
    margin-bottom: 0.7vw;
}

#textFormat .btn-group .btn:hover{
    background: #fff !important;
    border-color: #999 !important; 
    color:#000 !important;
    border-top-color: #000 !important;
}

.fontconfig a{
    width: 100%;
    overflow-x: hidden;
}
.fontconfig ul{
    z-index: 56929 !important;
    max-height: 19vw !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.fontconfig ul a{
    padding: 0.25vw 0.3vw !important;
}

.fontFamilySelected{
    float: left;
    width: 86%;
    overflow-x: hidden;
}


/* Upload image modal */

#imagemodal{
    width: 65vw;
    left: 41% !important;
}

#fileimgdiv{
    width: 50%;
    float: left;
}

#urlimgdiv{
    width: 45%;
    float: left;
    margin-left: 5%;
}

#urlimageinput{
    width: 100%;
}

#previewimg{
    max-width: 50%;
}

#addurlimgbtn{
    float:right;
}


/* Edit image modal */

#editimgmodal{
    width: 70vw;
    margin-left: -37vw;
}
#editimgmodal .modal-body{
    max-height: 32.2825vw;
}

.img-container,
.img-preview {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
}

.img-container {
  min-height: 25vw;
  max-height: 32vw;
  margin-bottom: 1.464vw;
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -1.098vw;
}

.img-preview {
  float: left;
  margin-right: 0.732vw;
  margin-bottom: 0.732vw;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  width: 19.253vw;
  height: 10.83vw;
}

.preview-md {
  width: 10.18vw;
  height: 5.71vw;
}

.preview-sm {
  width: 5.05vw;
  height: 2.855vw;
}

.preview-xs {
  width: 2.562vw;
  height: 1.464vw;
  margin-right: 0;
}

.docs-data > .input-group {
  margin-bottom: 0.732vw;
}

.docs-data > .input-group > label {
  min-width: 5.86vw;
}

.docs-data > .input-group > span {
  min-width: 3.66vw;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: 0.366vw;
  margin-bottom: 0.732vw;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: 0.732vw;
}


.btn-upload .tooltip-inner {
  white-space: nowrap;
}
