/* 
    Created on : 30-sep-2015, 16:25:51
    Author     : EduJG
*/

html{
    font-size: 1vw !important;
}

body{
    background-color: #f0f0f0 !important;
    padding: 0px;
    color:#fff !important;
    overflow: hidden;  
    font-size: 1vw !important;
}


/* Scroll bar */

/* Slides thumb scroll */
::-webkit-scrollbar{
    max-width: 8%;
    margin:100px;
    padding: 100px;
}
::-webkit-scrollbar-button{
    width:8px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background:#3c454e;
    border:thin solid #1a1f25;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(top, #87B5AC, #C1D9E0);
    -webkit-box-shadow:   inset 0 1px 0 rgba(255,255,225,.5),
        inset 1px 0 0 rgba(255,255,255,.4),
        inset 0 1px 2px rgba(255,255,255,.3);

    border:thin solid #232c34;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, #5BC0DE, #1ABC9C);
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
    background: -webkit-linear-gradient(top, #6F9C93, #81A6B1);
}


/* Header-menu */

#header-menu{
    padding-bottom: 1em;
    background-color: #A32C00;
    border-bottom: 1px solid #767575;
}

.sidebarfooter {
    background-color: none;
}

#view-save-btns{
    display: inline-block;
    position: absolute;
    right: 2%;
    margin: -1px auto;
}

#view-save-btns .btn{
    padding: 10px 22px;
}

.previewbtn {
    margin-left: 0px; 
    margin-top: 0px; 
}


/* Body-editor */

#body-editor{
    position: absolute;
    width: 100%;
    height: 89.9%;
    overflow-y: hidden;
}

#deck{
    padding: 0;
    height: 100%;
}

/* Vertical-toolbar */

#vertical-toolbar{
    border-right: 1px solid #767575;
    height: 100%;
    background-color: #555;
    float: left;
    padding: 0;
}

.mainfooter {
    position: relative;
    width: initial;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    padding: 6px 0px;
    margin: 0;
    padding: 0 !important;
    height: 100%;
}

.slidethumbholdercontainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
    overflow: auto;
}

#addslidebtn{
    position: initial;
    left: initial;
    top: initial;
    margin: 3% 20%;
}


.slidethumbholder {
    position: initial;
    left: initial;
    top: initial;
    bottom: initial;
    right: initial;
    overflow-x: hidden;
    overflow-y: auto;
    height: 87%;
}

.slidethumb {
    display: block;
    width: 144px;
    height: 110px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ECF0F1;
    position: relative;
}

.currentselection{
    border: 3px solid #1ABC9C !important;
}

.deletebtn{
    bottom: 37% !important;
    right: 34% !important;
}


/* Workspace */

#workspace{
    position: relative;
    float: left;
    padding-top: 20px;
}

.slideviewport{
    top: 0px !important;
    left: 0px !important;
    padding: 0px !important;
}

#markdown-editor{
    border-left: 1px solid #767575;
    background-color: #34495E;
    height: 100%;
    padding: 0.5%;
}

#markdown-space{
    width: 100%;
    height: 92%;
}

#markdown-space textArea{
    width: 100%;
    height: 100%;
    color: #000;
}


/* Add image modal */

#imagemodal{
    left: 50% !important;
    top: 10% !important;
    bottom: inherit !important;
    color: #34495e;
}