/* 
    Created on : 30-sep-2015, 16:25:51
    Author     : EduJG
*/

html{
    font-size: 1vw !important;
}

body{
    background-color: #f0f0f0 !important;
    padding: 0vw;
    color:#fff !important;
    overflow: hidden;  
    font-size: 1vw !important;
}

p {
    width: 16.84vw;
}


/* Scroll bar */

/* Slides thumb scroll */
::-webkit-scrollbar{
    max-width: 8%;
    margin:7.32vw;
    padding: 7.32vw;
}
::-webkit-scrollbar-button{
    width:0.5856vw;
    height: 0.366vw;
}
::-webkit-scrollbar-track{
    background:#3c454e;
    border:thin solid #1a1f25;
    -webkit-box-shadow: inset 0 0 0.4392vw rgba(0,0,0,0.3);
    -webkit-border-radius: 0.732vw;
    border-radius: 0.732vw;
}
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(top, #87B5AC, #C1D9E0);
    -webkit-box-shadow:   inset 0 0.0732vw 0 rgba(255,255,225,.5),
        inset 0.0732vw 0 0 rgba(255,255,255,.4),
        inset 0 0.0732vw 0.1464vw rgba(255,255,255,.3);

    border:thin solid #232c34;
    border-radius: 0.732vw;
    -webkit-border-radius: 0.732vw;
}
::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, #5BC0DE, #1ABC9C);
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
    background: -webkit-linear-gradient(top, #6F9C93, #81A6B1);
}


/* Header-menu */

#header-menu{
    padding-bottom: 1vw;
    background-color: #A32C00;
    border-bottom: 0.074vw solid #767575;
    height: 4.7291vw;
}

.sidebarfooter {
    background-color: none;
}

#view-save-btns{
    display: inline-block;
    position: absolute;
    right: 2%;
    margin: -0.0732vw auto;
}

#view-save-btns .btn{
    padding: 0.7320vw 1.61vw;
}

.previewbtn {
    margin-left: 0vw; 
    margin-top: 0vw; 
}


/* Body-editor */

#body-editor{
    position: absolute;
    width: 100%;
    height: 42.3167vw;
    overflow-y: hidden;
}

#deck{
    padding: 0;
    height: 100%;
}

/* Vertical-toolbar */

#vertical-toolbar{
    border-right: 0.0732vw solid #767575;
    height: 100%;
    background-color: #555;
    float: left;
    padding: 0;
}

.mainfooter {
    position: relative;
    width: initial;
    top: 0vw;
    bottom: 0vw;
    left: 0vw;
    z-index: 10;
    padding: 0.439vw 0vw;
    margin: 0;
    padding: 0 !important;
    height: 100%;
}

.slidethumbholdercontainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
    overflow: auto;
}

#addslidebtn{
    position: initial;
    left: initial;
    top: initial;
    margin: 0.375vw 2.5vw;
}


.slidethumbholder {
    position: initial;
    left: initial;
    top: initial;
    bottom: initial;
    right: initial;
    overflow-x: hidden;
    overflow-y: auto;
    height: 36.5vw;
}

.slidethumb {
    display: block;
    width: 10.54vw;
    height: 8.05vw;
    margin-bottom: 0.732vw;
    margin-left: 0.732vw;
    background-color: #ECF0F1;
    position: relative;
}

.currentselection{
    border: 0.2196vw solid #1ABC9C !important;
}

.deletebtn{
    bottom: 37% !important;
    right: 34% !important;
}


/* Workspace */

#workspace{
    position: relative;
    float: left;
}

.presentationmeta {
    width: initial;
    height: 2.1962vw;
    margin-left: 0;
    margin-bottom: 0.464vw;
    background-color: #34495E;
    position: relative;
    /* margin-top: 0.2vw; */
}

#presentationmetatitle{
    margin: 0 1vw;
    text-transform: none;
    font-size: 130%;
    color: white;
    width: 100%;
    text-align: center;
}

#editpresonamebtn{
    position: absolute;
    right: 0.366vw;
    top: 0.2196vw;
    padding: 0vw 2.1vw;
}

.slideviewport{
    top: 0vw !important;
    left: 0vw !important;
    padding: 0vw !important;
    height: 38.8vw !important;
}

#markdown-editor{
    border-left: 0.0732vw solid #767575;
    background-color: #34495E;
    height: 100%;
    padding: 0.5%;
}

#markdown-space{
    width: 100%;
    height: 92%;
}

#markdown-space textArea{
    width: 100%;
    height: 100%;
    color: #000;
}


/* Modals */

.modal{
    left: 50% !important;
    top: 10% !important;
    bottom: inherit !important;
    color: #34495e !important;
}