#graphicscontainer{
    font-size: 0.78vw;
    font-family: Verdana, Helvetica, Arial;
    color: #000000;
    width: 100%;
    height: 36vw;
}

#canvas svg:not(:root) {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#graphicscontainer img {
    vertical-align: middle;
    max-width: 100%;
    height: 1.15vw;
}

#graphicscontainer i {
    vertical-align: middle;
    font-size: 1.25vw;
}
#graphicscontainer .fa-plus{
    font-size:0.65vw;
}

#canvas{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: -50;
}

#tools_left {
    position: absolute;
    border-right: none;
    width: 6.5vw;
    top: 0.732vw;
    left: 0.732vw;
    margin-top: -0.1464vw;
    padding-left: 0.1464vw;
    background: #D0D0D0; /* Needed so flyout icons don't appear on the left */
    z-index: 4;
    padding: 0.2vw;
}

#graphicscontainer button {
    width: 2.9vw;
    height: 2.05vw;
    margin-bottom:0.366vw;
    padding: 0.0732vw;
}

#graphic-options {
    margin-bottom: 0.464vw;
    font-size: 0.7vw;
    z-index: -50;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: transparent;
    width: 6vw;
    height: 100%;
    border-right: none;    
    margin-top: -0.1464vw;
    padding-left: 0.1464vw;
    padding: 0.2vw;
}
#graphic-options .panel-heading {
    padding: 0.25vw 1.0981vw
}
#graphic-options .panel-body {
    text-align: center; 
    padding: 0; 
    color:#000;
}
#graphic-options .sp-replacer {
    padding: 0.228vw;
}
#graphic-options .sp-preview {
    width: 1.7vw;
    height: 1.19vw;
}
#graphic-options label{
    margin-top: 0.12vw;
    margin-bottom: 0.26vw;
}
#graphic-options select {
    width: 4.9vw;
    font-size: 0.8vw;
    height: 1.8vw;
}
#graphic-options input {
    width: 4.9vw;
    font-size: 1vw;
    height: 1.9vw;
}

#fillcolor {
    font-size: 0.5857vw;
}

#strokecolor {
    font-size: 0.5857vw;
}